$('#follow_form').html("<%= escape_javascript(render('profile/follow')) %>");
$('#followers').html("<h3>Following: <%= @user.following.count %></h3> <h3>Followers: <%= @user.followers.count %></h3>");